<header class="site-header">
  <div class="hero">
    <div class="content-header">
      <nav class="social-networks">
        <a target="_blank" href="https://github.com/Frank712/"><i class="fa fa-github-alt"></i></a>
        <a target="_blank" href="https://www.linkedin.com/in/francisco-suriel-lino-551294154/"><i class="fa fa-linkedin-square"></i></a>
        <a target="_blank" href="https://twitter.com/frank_linux7"><i class="fa fa-twitter"></i></a>
        <a target="_blank" href="https://www.facebook.com/francisco.s.lino"><i class="fa fa-facebook-f"></i></a>
      </nav>
      <div class="event-info">
        <div class="container clearfix">
          <p class="date"> <i class="fa fa-calendar"></i> {{ currentDate }}</p>
          <p class="city"> <i class="fa fa-map-marker"></i> Mexico, Mx</p>
        </div>
        <h1 class="site-name">A Simple Web <span> Developer</span> </h1>
        <hr>
        <!--<p class="slogan">I <span><3</span> programming! </p>-->
      </div>
    </div>
  </div><!--.hero-->
</header><!--.site-header-->
