/*  HEADER  */
div.hero {
  background-image: url(../../assets/img/code-back3.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover;
  filter: brightness(1.1);

}

div.content-header {
  padding-top: 20px;
}

nav.social-networks {
  text-align: center;
}

@media only screen and (min-width: 768px) {
  nav.social-networks {
    padding-top: 10px;
  }
}

nav.social-networks a {
  color: #722222;
  font-size: 2.1em;
  margin-right: 20%;
  transition: all .3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  nav.social-networks a {
    margin-right: 55px;
    font-size: 2.5em;
  }
}


nav.social-networks a i {
  transition: all .5s ease-in;
}

nav.social-networks a:hover i {
  color: #750404;
  -webkit-transform: scale(1.5);
}

nav.social-networks a:last-child {
  margin-right: 0;
}

div.event-info {
  padding: 1.5vw;
  border-radius: 10px;
  background-color: rgba(255,255,255,0.30);
  text-align: center;
  color: #722222;
  margin-top: 25px;
}

div.event-info h1 {
  transition: all .5s ease-in;
}

div.event-info:hover h1 {
  color: #750404;
}

div.event-info p {
  margin: 0;
  display: inline;
  font-size: 15px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  div.event-info {
    width: 70%;
    margin: 25px auto;
  }
  div.event-info p {
    font-size: 20px;
  }
  div.event-info p i {
    font-size: 2.2rem;
  }
}



div.event-info p i {
  color: #251919;;
  font-size: 1.5rem;
}

p.date {
  float: left;
}

p.city {
  float: right;
  text-align: right;
}

h1.site-name {
  background: transparent;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
}

h1.site-name span {
  display: block;
}

h1.site-name:hover {
  transform: scale(1.1);
  transition: all .3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  h1.site-name {
    font-size: 6.66vw;
    margin-top: 25px;
    line-height: 1;
  }
  h1.site-name span {
    display: inline-block;
  }
}

p.slogan span {
  font-weight: bold;
  font-size: 1.2em;
  color: #722222;
  display: block;
}

p.slogan {
  padding: 7px;
  border-radius: 10%;
  background-color: #8E8E8E;
  font-weight: bold;
  text-transform: none!important;
  color: #1a1a1a;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (min-width: 768px) {
  p.slogan span {
    display: inline-block;
  }
}



/*    Bar     */
div.bar {
  background-color: #722222;
  padding: 20px 0;
}

div.logo {
  width: 80%;
  float: left;
}

div.logo img {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  div.logo {
    width: 33%;
  }
}
