<header class="site-header">
  <div class="hero">
    <div class="content-header">
      <nav class="social-networks">
        <a href=""><i class="fa fa-github-alt"></i></a>
        <a href=""><i class="fa fa-linkedin-square"></i></a>
        <a href=""><i class="fa fa-twitter"></i></a>
        <a href=""><i class="fa fa-facebook-f"></i></a>
      </nav>
      <div class="event-info">
        <div class="container clearfix">
          <p class="date"> <i class="fa fa-calendar"></i> {{ currentDate }}</p>
          <p class="city"> <i class="fa fa-map-marker"></i> Mexico, Mx</p>
        </div>
        <h1 class="site-name">A simple Web <span> Developer</span> </h1>
        <hr>
        <p class="slogan">I'm programmer! <span>I have no life!</span></p>
      </div>
    </div>
  </div><!--.hero-->
</header><!--.site-header-->
