<section id="sobremi" class="section container">
  <div class="indicator">
    <img src="../../assets/img/hexagon.png" alt="logo">
  </div> <h2>Sobre mi</h2>
  <hr>
  <p>
    Actualmente resido en el Estado de México. Curso los últimos semestres de la ingeniería en Sistemas Computacionales
    por la Escuela Superior de Cómputo (ESCOM) del Instituto Politécnico Nacional.
  </p>
  <p>
    Desde el año 2016 me he desenvuelto como desarrollador independiente realizando sistemas web a pequeñas
    empresas. A partir del 2017, trabajé como docente en el área de Matemáticas, Física e Informática en
    una escuela particular.
  </p>
  <p>
    Entre mis intereses profesionales en el área de la computación están las herramientas y tecnologías de vanguardia,
    en especial aquellas que le permiten al desarrollador ser más productivo y al mismo tiempo al usuario tener una
    mejor experiencia, así como la inteligencia artificial, la ciencia de datos y la ciberseguridad.
  </p>
  <p>
    Busco aprender nuevas cosas en el día a día, así como mejorar mis habilidades actuales. Estoy abierto al cambio y orientado
    a objetivos. Me gusta formar parte de equipos con metas ambiciosas.
  </p>
</section><!--.section-->
