<section class="section container">
  <h2>Un poco sobre mi</h2>
  <hr>
  <p>
    Actualmente resido en el Estado de México. Curso los últimos semestres de la ingeniería en Sistemas Computacionales
    por la Escuela Superior de Cómputo (ESCOM) del Instituto Politécnico Nacional.
  </p>
  <p>
    Entre mis intereses profesionales en el área de la computación están las tecnologías de vanguardia, en especial
    aquellas que le permiten al desarrollador ser más productivo y eficiente, así como la inteligencia artificial, la
    ciencia de datos y la ciberseguridad.
  </p>
  <p>
    Busco aprender en el día a día, así como mejorar mis habilidades actuales. Estoy abierto al cambio y me
    gusta formar parte de equipos con visión.
  </p>
</section><!--.section-->
