.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.75);
}

div.counter {
  position: relative;
  height: auto;
}

div.counter::before {
  background-image: url(../../assets/img/code-back4.jpg);
  content: '';
}

ul.event-resume {
  position: relative;
  padding: 120px 0;
}

ul.event-resume li {
  width: 50%;
  float: left;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}

p.number {
  color: #722222;
  font-size: 4em;
  font-weight: bold;
  display: block;
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
}

@media only screen and (min-width: 768px) {
  ul.event-resume li {
    width: 25%;
  }
}
