<div class="bar">
  <div class="container clearfix">

    <div class="logo">
      <img src="../../assets/img/code-logo.png" alt="logo">
    </div>

    <div class="mobil-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="main-nav">
      <a href="#sobremi">Sobre mi</a>
      <a href="#habilidades">Mis habilidades</a>
      <a href="#portafolio">Mi Portafolio</a>
      <a href="">Contáctame</a>
    </nav><!--.main-nav-->
  </div><!--.container-->
</div><!--.bar-->
