<br *ngIf="!isProject">
<div id="contact" class="container">
  <div class="indicator">
    <img src="../../assets/img/hexagon.png" alt="logo">
  </div>
  <h2>Contáctame</h2>
  <hr>
  <p>Correo Electrónico: franksuriel_7@hotmail.com</p>
  <p>Correo Electrónico Secundario: fsline.712@gmail.com</p>
  <p>Linkedin: <a target="_blank" href="https://www.linkedin.com/in/francisco-suriel-lino-551294154">Perfil de Linkedin</a></p>
  <p>Facebook: <a target="_blank" href="https://www.facebook.com/francisco.s.lino">Perfil de Facebook</a></p>
  <h3></h3>
</div>
<br>
<div id="mapid"></div>
<br>
