/*    Workshops   */

div.video-container {
  max-width: 100%;
  overflow-x: hidden;
}

div.program-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

div.event-program {
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgba(255,255,255,0.8);
  padding: 15px;
  position: relative;
}

div.logo-tech {
  padding: 10px;
  margin: auto 0;
  text-align: center;
  position: relative;
}

div.logo-tech img {
  width: 75%;
  margin: 0 auto;
  opacity: 0.85;
}

@media only screen and (min-width: 768px) {
  #skills-container {
    display: flex;
  }

  div.event-program {
    width: 60%;
  }
  div.logo-tech {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  #skills-container {
    display: flex;
  }

  div.event-program {
    width: 50%;
  }
  div.logo-tech {
    width: 50%;
  }
}

nav.event-menu {
  width: 100%;
  border-bottom: 1px solid #315d9b;
  padding-bottom: 10px;
}

@media only screen and (min-width: 768px) {
  nav.event-menu {
    display: table;
  }
}

nav.event-menu a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  font-family: 'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
}

@media only screen and (min-width: 768px) {
  nav.event-menu a {
    display: table-cell;
  }
}

nav.event-menu a i, div.event-detail p i {
  color: #315d9b;
  font-size: 1.4em;
  margin-right: 10px;
}

div.event-detail {
  margin-top: 10px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}

div.event-detail p {
  margin-bottom: 15px;
  font-size: 18px;
}

div.event-detail p:hover {
  color: #2B1A4D;
  font-weight: bold;
  transition: all .3s ease-in;
}

div.event-detail i {
  font-size: 18px;
  display: inline;
}

div.program{
  height: 100vw;
  background-position: top center;
  background-size: cover;
  position: relative;
}



.parallax::before {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  filter: brightness(0.85);
}

.hidden-course {
  display: none;
}

.activelink {
  color: #315d9b!important;
  text-transform: uppercase;
  font-size: 1.4em!important;
  font-weight: bold;
}

.logo-hide {
  display: none;
}

div.counter {
  position: relative;
  height: auto;
}

div.counter::before {
  background-image: url(../../assets/img/7112.jpg);
  content: '';
}
