<div id="habilidades" class="program-container counter parallax">
  <div class="container" id="skills-container">
    <div class="event-program">
      <h2>Mis Habilidades</h2>
      <hr>
      <nav class="event-menu">
        <a href="#frontend"> <i class="fa fa-crosshairs"></i> <i class="fa fa-file-code-o"></i> Frontend</a>
        <a href="#backend"> <i class="fa fa-crosshairs"></i><i class="fa fa-code"></i> Backend</a>
        <a href="#storage"> <i class="fa fa-crosshairs"></i><i class="fa fa-save"></i> Storage</a>
      </nav>

      <div id="frontend" class="info-course hidden-course clearfix">
        <div class="event-detail" id="html">
          <h3> HTML5, CSS3, JavaScript</h3>
          <p><i class="fa fa-level-up"></i> Nivel: Avanzado</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 4 años</p>
          <p><i class="fa fa-terminal"></i> Otros: TypeScript, ES6+, Flex</p>
        </div>

        <div class="event-detail" id="angular">
          <h3>Angular 2 Framework</h3>
          <p><i class="fa fa-level-up"></i> Nivel: Intermedio%</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 1 año</p>
        </div>

        <div class="event-detail" id="bootstrap">
          <h3>Bootstrap 4 y jQuery</h3>
          <p><i class="fa fa-level-up"></i> Nivel: Avanzado</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 2 años</p>
          <p><i class="fa fa-terminal"></i> Otros: FontAwesome</p>
        </div>

        <a href="" class="button float-right">Ver todos</a>
      </div>

      <div id="backend" class="info-course hidden-course clearfix">
        <div class="event-detail" id="node">
          <h3> NodeJS </h3>
          <p><i class="fa fa-level-up"></i> Nivel: Intermedio</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 1 año</p>
          <p><i class="fa fa-terminal"></i> Otros: Express, Bcrypt, Mongoose</p>
        </div>

        <div class="event-detail" id="spring">
          <h3> Spring5 (Java)</h3>
          <p><i class="fa fa-level-up"></i> Nivel: Básico</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 6 meses</p>
          <p><i class="fa fa-terminal"></i> Otros: SpringBoot, JPA</p>
        </div>

        <div class="event-detail" id="flask">
          <h3> Flask (Python)  </h3>
          <p><i class="fa fa-level-up"></i> Nivel: Básico</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 6 meses</p>
        </div>

        <a href="" class="button float-right">View all</a>
      </div>

      <div id="storage" class="info-course hidden-course clearfix">
        <div class="event-detail" id="mysql">
          <h3> MySQL </h3>
          <p><i class="fa fa-level-up"></i> Nivel: Avanzado</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 4 años</p>
          <p><i class="fa fa-terminal"></i> Otros: TypeScript, ES6+, Flex</p>
        </div>

        <div class="event-detail" id="postgresql">
          <h3> PostgreSQL </h3>
          <p><i class="fa fa-level-up"></i> Nivel: Intermedio</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 1 año</p>
        </div>

        <div class="event-detail" id="mongodb">
          <h3> MongoDB </h3>
          <p><i class="fa fa-level-up"></i> Nivel: Intermedio</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 2 años</p>
          <p><i class="fa fa-terminal"></i> Otros: FontAwesome</p>
        </div>

        <a href="" class="button float-right">View all</a>
      </div>
      <!--<div id="conferences"></div>
      <div id="seminars"></div>-->
    </div><!--.event-program-->
    <div class="logo-tech logo-hide" id="html-logo">
      <img src="../../assets/img/html_logo2.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="angular-logo">
      <img src="../../assets/img/angular_logo.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="bootstrap-logo">
      <img src="../../assets/img/bootstrap.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="node-logo">
      <img src="../../assets/img/node-logo3.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="postgresql-logo">
      <img src="../../assets/img/postgresql-logo.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="mysql-logo">
      <img src="../../assets/img/mysql-logo2.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="mongodb-logo">
      <img src="../../assets/img/mongo-logo.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="flask-logo">
      <img src="../../assets/img/flask-logo2.png" alt="">
    </div>
    <div class="logo-tech logo-hide" id="spring-logo">
      <img src="../../assets/img/spring-logo.png" alt="">
    </div>

  </div>
</div>
