<div class="program-container counter parallax">
  <div class="container">
    <div class="event-program">
      <h2>Mis Habilidades</h2>
      <hr>
      <nav class="event-menu">
        <a href="#workshops"><i class="fa fa-picture-o"></i> Frontend</a>
        <a href="#conferences"><i class="fa fa-code"></i> Backend</a>
        <a href="#seminars"><i class="fa fa-save"></i> Storage</a>
      </nav>

      <div id="workshops" class="info-course hidden-course clearfix">
        <div class="event-detail">
          <h3> HTML5, CSS3, JavaScript</h3>
          <p><i class="fa fa-level-up"></i> Nivel: 80%</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 4 años</p>
          <p><i class="fa fa-terminal"></i> Otros: TypeScript, ES6+, Flex</p>
        </div>

        <div class="event-detail">
          <h3>Angular 2 Framework</h3>
          <p><i class="fa fa-level-up"></i> Nivel: 70%</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 1 año</p>
        </div>

        <div class="event-detail">
          <h3>Bootstrap 4 y jQuery</h3>
          <p><i class="fa fa-level-up"></i> Nivel: 80%</p>
          <p><i class="fa fa-clock-o"></i> Experiencia: 2 años</p>
          <p><i class="fa fa-terminal"></i> Otros: FontAwesome</p>
        </div>

        <a href="" class="button float-right">View all</a>
      </div>
      <!--<div id="conferences"></div>
      <div id="seminars"></div>-->
    </div><!--.event-program-->
  </div>
</div>
