<section id="portafolio" class="guests container section">
  <div class="indicator">
    <img src="../../assets/img/hexagon.png" alt="logo">
  </div>
  <h2>Mi portafolio</h2>
  <hr>
  <p>
    Estos son algunos de los proyectos que he trabajado en los últimos meses. Van desde aplicaciones sencillas tales como
    paginas web (SPA), hasta sistemas web completos para la administración de usuarios. Si deseas ver todos mis proyectos
    te invito a visitar mi repositorio <a href="https://github.com/Frank712?tab=repositories">aqui</a>, en donde podras
    encontrar algunas aplicaciones de inteligencia artificial, aplicaciones de chat, Api Rest, entre otras.
  </p>
  <ul class="guests-list clearfix">
    <li>
      <div (click)="showProject(0)" class="guest" id="hospital">
        <a href="#apiNode1">
          <img src="../../assets/img/hospital2.png" alt="hospital">
        </a>
        <p>API REST con NodeJS & Frontend en Angular</p>
      </div>
    </li>
    <li>
      <div (click)="showProject(1)" class="guest" id="facturation">
        <a href="#apiSpring">
          <img src="../../assets/img/restspring2.png" alt="facturation">
        </a>
        <p>API REST con Spring 5 & FrontEnd en Angular </p>
      </div>
    </li>
    <li>
      <div (click)="showProject(2)" class="guest" id="coffee">
        <a href="#apiNode2">
          <img src="../../assets/img/crudNode.png" alt="coffee">
        </a>
        <p>REST Server NodeJS</p>
      </div>
    </li>
    <li>
      <div (click)="showProject(3)" class="guest" id="tickets">
        <a href="#tickets">
          <img src="../../assets/img/tickets.png" alt="tickets">
        </a>
        <p>Generador de Tickets</p>
      </div>
    </li>
    <li>
      <div (click)="showProject(4)" class="guest" id="gallery">
        <a href="#gallery">
          <img src="../../assets/img/gallery2.png" alt="gallery">
        </a>
        <p>Gallery Page</p>
      </div>
    </li>
    <li>
      <div (click)="showProject(5)" class="guest" id="predictor">
        <a href="#predictor">
          <img src="../../assets/img/predictor.png" alt="predictor">
        </a>
        <p>IA: Predictor de acciones</p>
      </div>
    </li>
  </ul>
</section>
<br>
<div id="back-project" *ngIf="project">
  <div class="container section">
    <div [id]="project.id" class="project">
      <h2 class="topic">{{project.name}} </h2>
      <h3 class="subtopic">Descripción:</h3>
      <br>
      <p>{{project.description}}</p>
      <h3 class="subtopic">Tecnologías y servicios empleados:</h3>
      <br>
      <ul class="tech-list center" style="display: table">
        <li *ngFor="let tech of project.technologies; let i=index">
          <div class="tech">
            <img class="center" [src]="'../../assets/img/' + project.img[i]" alt={{project.img[i]}}>
            <p>{{tech}}</p>
          </div>
        </li>
      </ul>
      <h3 class="subtopic">Enlaces:</h3>
      <br>
      <p *ngIf="project.link !== ''" class="link-to">Producción: <a target="_blank" [href]="project.link"> {{project.link}} </a></p>
      <p *ngIf="project.note" class="link-to"> Nota:  <i>"{{ project.note }}"</i>  </p>
      <p *ngIf="project.gihutb_back !== ''" class="link-to">GitHub (Backend): <a target="_blank" [href]="project.gihutb_back">{{project.gihutb_back}}</a></p>
      <p *ngIf="project.gihutb_front !== ''" class="link-to">GitHub (Frontend): <a target="_blank" [href]="project.gihutb_front">{{project.gihutb_front}}</a></p>
      <p *ngIf="project.doc_link !== ''" class="link-to">Documentación (Servicios): <a target="_blank" [href]="project.doc_link">{{project.doc_link}}</a></p>
    </div>
  </div>

</div>

