<section id="portafolio" class="guests container section">
  <div class="indicator">
    <img src="../../assets/img/hexagon.png" alt="logo">
  </div>
  <h2>Mi portafolio</h2>
  <hr>
  <ul class="guests-list clearfix">
    <li>
      <div class="guest" id="hospital">
        <a href="#apiNode1">
          <img src="../../assets/img/hospital2.png" alt="hospital">
        </a>
        <p>API REST con NodeJS & Frontend en Angular</p>
      </div>
    </li>
    <li>
      <div class="guest" id="facturation">
        <a href="#apiSpring">
          <img src="../../assets/img/restspring2.png" alt="facturation">
        </a>
        <p>API REST con Spring 5 & FrontEnd en Angular </p>
      </div>
    </li>
    <li>
      <div class="guest" id="coffee">
        <a href="#">
          <img src="../../assets/img/crudNode.png" alt="coffee">
        </a>
        <p>REST Server NodeJS</p>
      </div>
    </li>
    <li>
      <div class="guest" id="event">
        <a href="#"></a>
        <img src="../../assets/img/eventpage.png" alt="event">
        <p>Event Page</p>
      </div>
    </li>
    <li>
      <div class="guest" id="gallery">
        <a href="#"></a>
        <img src="../../assets/img/gallery2.png" alt="gallery">
        <p>Gallery Page</p>
      </div>
    </li>
    <li>
      <div class="guest" id="predictor">
        <a href="#"></a>
        <img src="../../assets/img/predictor.png" alt="predictor">
        <p>IA: Predictor de acciones</p>
      </div>
    </li>
  </ul>
</section>
<div class="container section">
  <div id="apiNode1" class="project hidden">
    <h2 class="topic">{{projects[0].name}} </h2>
    <p>{{projects[0].description}}</p>
    <h3>Tecnologías y servicios empleados:</h3>
    <ul class="tech-list center" style="display: table">
      <li *ngFor="let tech of projects[0].technologies; let i=index">
        <div class="tech">
          <img class="center" [src]="'../../assets/img/' + projects[0].img[i]" alt={{projects[0].img[i]}}>
          <p>{{tech}}</p>
        </div>
      </li>
    </ul>
    <h3>Enlaces:</h3>
    <p class="link-to">Producción: <a target="_blank" [href]="projects[0].link"> {{projects[0].link}} </a></p>
    <p class="link-to">GitHub (Backend): <a target="_blank" [href]="projects[0].gihutb_back">{{projects[0].gihutb_back}}</a></p>
    <p class="link-to">GitHub (Frontend): <a target="_blank" [href]="projects[0].gihutb_front">{{projects[0].gihutb_front}}</a></p>
    <p class="link-to">Documentación (Servicios): <a target="_blank" [href]="projects[0].doc_link">{{projects[0].doc_link}}</a></p>
  </div>

  <div id="apiSpring" class="project hidden">
    <h2 class="topic">{{projects[1].name}} </h2>
    <p>{{projects[1].description}}</p>
    <h3>Tecnologías y servicios empleados:</h3>
    <ul class="tech-list center" style="display: table">
      <li *ngFor="let tech of projects[1].technologies; let i=index">
        <div class="tech">
          <img class="center" [src]="'../../assets/img/' + projects[1].img[i]" alt={{projects[1].img[i]}}>
          <p>{{tech}}</p>
        </div>
      </li>
    </ul>
    <h3>Enlaces:</h3>
    <p class="link-to">Producción: <a target="_blank" [href]="projects[1].link"> {{projects[1].link}} </a></p>
    <p class="link-to">GitHub (Backend): <a target="_blank" [href]="projects[1].gihutb_back">{{projects[1].gihutb_back}}</a></p>
    <p class="link-to">GitHub (Frontend): <a target="_blank" [href]="projects[1].gihutb_front">{{projects[1].gihutb_front}}</a></p>
    <p class="link-to">Documentación (Servicios): <a target="_blank" [href]="projects[1].doc_link">{{projects[1].doc_link}}</a></p>
  </div>

</div>
