/*    GUESTS      */

ul.guests-list li {
  padding: 10px;
  float: left;
}

ul.tech-list li {
  padding: 10px;
  float: left;
  width: 50%;
  display: table-cell;
}

p.link-to {
  text-align: left;
}
p.link-to span {
  text-decoration: #4B186F;
}

@media only screen and (min-width: 480px) {
  ul.guests-list li {
    width: 50%;
  }
  ul.tech-list li {
    width: 50%;
  }
  div.tech {
    height: 150px!important;
  }
}

@media only screen and (min-width: 768px) {
  ul.guests-list li {
    width: 33.3%;
  }
  ul.tech-list li {
    width: 33.3%;
  }
  div.tech {
    height: 185px!important;
  }
}

div.guest {
  position: relative;
  overflow: hidden;
  height: 196px;
}

div.tech {
  position: relative;
  height: 110px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.tech img {
  max-height: 70%;
}

div.guest img {
  max-width: 100%;
  filter: gray();
  -webkit-filter: grayscale(1);
  -webkit-transition: all .5s ease-in-out;
}

div.guest:hover img {
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.2);
}

div.guest p {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(0,0,0,0.75);
  width: 100%;
  text-align: left;
  color: #A5D7EF;
  font-family: 'Oswald', sans-serif;
  font-size: 1.4em;
  -webkit-transition: all .5s ease-in-out;
}
div.guest:hover p {
  bottom: -20px;
  opacity: 0;
}

h2.topic{
  text-align: right!important;
  color: #213d75;
  font-size: 2.1em;
}

h3.subtopic {
  color: #4B186F!important;
  font-family: 'PT Sans', sans-serif;
}
