<section id="portafolio" class="guests container section">
  <div class="indicator">
    <img src="../../assets/img/hexagon.png" alt="logo">
  </div>
  <h2>Mi portafolio</h2>
  <hr>
  <ul class="guests-list clearfix">
    <li>
      <div class="guest">
        <img src="../../assets/img/invitado1.jpg" alt="guest1">
        <p>REST API Spring 5</p>
      </div>
    </li>
    <li>
      <div class="guest">
        <img src="../../assets/img/invitado2.jpg" alt="guest1">
        <p>REST API NodeJS</p>
      </div>
    </li>
    <li>
      <div class="guest">
        <img src="../../assets/img/invitado3.jpg" alt="guest1">
        <p>CRUD NodeJS</p>
      </div>
    </li>
    <li>
      <div class="guest">
        <img src="../../assets/img/invitado4.jpg" alt="guest1">
        <p>Event Page</p>
      </div>
    </li>
    <li>
      <div class="guest">
        <img src="../../assets/img/gallery.png" alt="guest1">
        <p>Gallery Page</p>
      </div>
    </li>
    <li>
      <div class="guest">
        <img src="../../assets/img/predictor.png" alt="guest1">
        <p>IA: Predictor de acciones</p>
      </div>
    </li>
  </ul>
</section>
